body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.producto {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 200px;
}

#carrito {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;
}

#total {
    font-weight: bold;
}
.producto img {
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción original */
}